<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<%- include('layout.ejs'); %>
<div class="container">
    <div class="subjects">
        <button type="button" class="tab">Tout</button>
        <% for(var i = 0; i < subjects.length; i++) { %>
            <button type="button" class="tab"><%= subjects[i].name %></button>
        <% } %>
    </div>

    <div class="qcm-actions">
        <p>Tu as passé <%= qcms.length %> QCMs. Bravo !</p>
        <button type="button" id="open-modal">Nouveau QCM</button>
    </div>
</div>

<div class="modal hidden">
    <div class="modal-container">
        <div class="body">
            <p>Nouveau QCM</p>
            <form>
                <label for="subject">Matière</label>
                <input name="subject" id="subject" type="text"/>

                <label for="year">Année</label>
                <input name="year" id="year" type="number"/>

                <label for="score">Score</label>
                <input name="score" id="score" type="number"/>

                <label for="nb_questions">Nombre de questions</label>
                <input name="nb_questions" id="nb_questions" type="number"/>

                <button type="submit">Créer</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
</body>
</html>